/* App.css */

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
.app-header {
    padding: 20px;
    text-align: center;
    background: linear-gradient(90deg, #00C9FF 0%, #EE00FF 100%);
  }
  
  
  .app-title {
    font-family: 'Rock Grotesk', sans-serif;
    font-size: 2.5rem;
    margin: 0;
    color: #FFFFFF; /* Texto en blanco para mejor contraste */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el texto */
  }  