/* index.css */

@font-face {
    font-family: 'Rock Grotesk';
    src: url('./fonts/RockGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html, #root {
    height: 100%;
  }
  
  body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f2f5;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  